h2 {
  text-align: end;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-primary {
  cursor: pointer;
  color: white;
  background-color: rgb(146, 49, 146);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn {
  cursor: pointer;
  color: white;
  background-color: rgb(146, 49, 146);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#results {
}

.hide {
  display: none;
}
