/* Universal */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h2 {
  text-align: end;
  color: black;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

/* Main section */
main {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Start button */
.btn-primary {
  cursor: pointer;
  color: white;
  background-color: rgb(146, 49, 146);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
}

/* Answer buttons */
.btn {
  cursor: pointer;
  color: white;
  background-color: rgb(146, 49, 146);
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  font-weight: bold;
}

/* Submit button */
.subBtn {
  cursor: pointer;
  color: white;
  background-color: rgb(146, 49, 146);
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 80%;
  font-weight: bold;
  text-decoration: none;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
}

/* Class to hide sections once the game starts */
.hide {
  display: none;
}

/* Styling for the appended initials list and buttons */
ul {
  list-style-type: none;
  padding: auto;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;

  color: black;
  font-size: 16px;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 20px;
  cursor: pointer;
  background-color: rgb(146, 49, 146);
  color: white;
  font-size: 16px;
}
